
<ng-template #modalBoxContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title btn-outline-success">Success!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Thank You. <br> Your article has been successfully submitted for review. Close to be redirected to the homepage</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c()">Close</button>
  </div>
</ng-template>

<form [formGroup]="form" (ngSubmit)="submit(form.value,modalBoxContent)" (keydown.enter)="$event.preventDefault()">
  <div class="container ">
    <div class="submitForm">
      <div class="col-md-8 center">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">Name</label>
              <input formControlName="name" id="name" class="form-control" type="text">
              <div *ngIf="form.get('name').touched && form.get('name').invalid">
                <div class="error-message">Name is required.</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="country">Сountry</label>              
              <select formControlName="country" class="form-control">
                <option value=""></option>
                <option *ngFor="let country of countries" [value]="[country.code,country.name]" >{{country.name}}</option>
              </select>
              <div *ngIf="form.get('country').touched &&form.get('country').invalid">
                <div class="error-message">Country is required.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label class="gender" for="gender">Gender</label>
              <input type="radio" formControlName="gender" name="gender" value="male"> Male
              <input type="radio" formControlName="gender" class="female" name="gender" value="female"> Female
            <div *ngIf="form.get('gender').touched && form.get('gender').invalid">
                <div class="error-message">Gender is required.</div>
            </div>  
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="birthDate">Date of birth</label>
              <i class="fa fa-question-circle-o" 
              aria-hidden="true" 
              placement="right" 
              ngbTooltip="If unknown, set to '01/01/1000'.  
              To show calender from current year, click 'x'. Min age = 15"></i>
              <my-date-picker 
              [options]="birthDateOptions" 
              id="birthDate" name="birthDate" 
              formControlName="birthDate"></my-date-picker>
              <div *ngIf="form.get('birthDate').touched && form.get('birthDate').invalid">
                <div class="error-message">Birth date is required.</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="deathDate">Died</label>
              <i class="fa fa-question-circle-o"
               aria-hidden="true" placement="right" 
               ngbTooltip="If unknown, set to '01/01/1000'"></i>
              <my-date-picker 
              id="deathDate" name="deathDate" 
              [options]="deathDateOptions" 
              formControlName="deathDate"></my-date-picker>
              <div *ngIf="form.get('deathDate').touched && form.get('deathDate').invalid">
                <div class="error-message">Death date is required.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="knownFor">Well Known For</label>
          <input formControlName="knownFor" id="knownFor" class="form-control" type="text">
          <div *ngIf="form.get('knownFor').touched && form.get('knownFor').invalid">          
            <div *ngIf="form.get('knownFor').hasError('required')">
              <div class="error-message">Well known attribute is required.</div>
            </div>
            <div *ngIf="form.get('knownFor').hasError('maxlength')">
              <div class="error-message">
                A maximum of {{form.get('knownFor').errors.maxlength.requiredLength}} characters are allowed.
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentUpload">
            <div class="progress">
              <div *ngIf="currentUpload?.image" class="progress-bar progress-bar-animated bg-success" 
                [ngStyle]="{ 'width': currentUpload?.progress + '%' }">
                {{currentUpload?.progress | round }}% 
              </div>
            </div>
            <div *ngIf="currentUpload?.image" >
                Progress: {{currentUpload?.image[0]?.name}} | {{currentUpload?.progress | round }}% Complete
            </div>
        </div>
        <label for="heroImg"> Upload Hero Image </label>
        <i class="fa fa-question-circle-o" 
              aria-hidden="true" 
              placement="right" 
              ngbTooltip="Image should be of the format: jpg, jpeg or png"></i>
            <input type="file"
             id="heroImg"
             accept="image/*" 
             class="form-control" 
             formControlName="image" 
             (change)="detectFiles($event)">
            <div *ngIf="form.get('image').touched && form.get('image').invalid" >
              <div class="error-message" >Valid image is required.</div>
            </div>
      </div>
          
      <div class="form-group">
        <label for="achievementDetails">Achievement Details</label>
        <quill-editor 
          (onContentChanged) = "textBoxContentChanged($event)"
          formControlName ="achievementDetails" 
          id="achievementDetails"
          [style]="{'height':'320px'}" >
        </quill-editor>
      </div>
      <div *ngIf="form.get('achievementDetails').touched && form.get('achievementDetails').invalid">
        <div *ngIf="form.get('achievementDetails').hasError('required')">
          <div class="error-message">Achievement details are required.</div>
        </div>
        <!-- <div *ngIf="form.get('achievementDetails').hasError('minlength')">
          <div class="secondary">A minimum of 700 words are required.</div>
        </div> -->
      </div>

      <div>
        <div class="col-auto sourcesRef">
            <span><strong>Sources & References </strong></span>
            <i class="fa fa-exclamation-triangle"
               aria-hidden="true" placement="right" 
               ngbTooltip="Sources or References should be reliable and verifiable"></i>
        </div>
        <ul>
            <li *ngFor="let source of sources">
                <pre>{{ source }} </pre>
            </li>
        </ul>
        <div class="form-inline">
            <input class="form-control col-9 sourceRef" type="text" #source
            [value]= "singleSource"
            placeholder="example: books, articles, etc"
             (keyup.enter)="addNewSource(source.value)"> 
            <button type="button" class="btn btn-primary includeButton"
             (click)="addNewSource(source.value)">Include this source</button>
        </div>
              <em>**At least one source or reference is needed.**</em>
      </div>

      <button [disabled]=" sources.length == 0 || form.invalid || saving" 
        type="submit" class="btn btn-success">{{saving ? 'Saving...' : 'Submit'}}</button>
    </div>
  </div>
</form>