.container {
  background: #efefef;
}

.submitForm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  left: 0;
  right: 0;
  margin: auto;
}

.sourcesRef {
  margin-bottom: .5%;
}

.sourcesRefButton {
  cursor: pointer;
}

.includeButton {
  cursor: pointer;
  margin: 0 0 1% 2%;
}

.gender {
  margin-right: 15px;
}

.female {
  margin-left: 15px;
}

div>input.sourceRef {
  margin-bottom: 1%;
}

ul {
  list-style: none;
}