<div class="container">
  <div class="module" *ngFor="let heroes of submissions$ | async ">
    <a class="routing" [routerLink]="['/profile/',heroes?.$key]">
      <h2 class="heading">{{(heroes?.hero?.name | titlecase) | nameInitials}}
        <sup class="country">{{heroes?.hero?.code}}</sup>
      </h2>
      <div class="knownFor">
        <p>{{heroes?.hero?.knownFor | customTitleCase}}</p>
      </div>
    </a>
  </div>
  <div class="module hideSquad"></div>
  <div class="module hideSquad"></div>
  <footer-bar></footer-bar>
</div>