a:link, a:hover, a:active {
  text-decoration: none;
}

.module {
  margin: 20px 0;
  text-align: center;
}

.module:hover {
  transform: scale(1.018);
  transition-duration: 600ms;
  border: 1px solid black;
  box-shadow: -12px 10px 13px -7px rgba(0, 0, 0, 0.22);
  transition-timing-function: ease-out;
}

.module h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}

.knownFor p {
  font-family: 'Vollkorn', serif;
  color: black;
  text-align: center;
}

.country {
  font-family: serif;
  font-weight: 100;
  font-size: 10px;
  top: -15px;
}

.hideSquad {
  content: "";
  visibility: hidden;
}

@media only screen and (min-width: 480px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
  }
  .module {
    margin: 10px;
    padding: 5px 0;
    flex: 1 0 25%;
  }
}