<ng-template #modalBoxContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title btn-outline-danger">Wait!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to reject this article?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="c('yes')">Yes</button>
        <button type="button" class="btn" (click)="c()">Cancel</button>
    </div>
</ng-template>


<form [formGroup]="form" (ngSubmit)="approve(form.value)" (keydown.enter)="$event.preventDefault()">
    <div class="container">
        <ngb-alert *ngIf="approved" type="success" (close)="staticAlertClosed = true">
            Article accepted. Redirecting to homepage 3s...
        </ngb-alert>
        <ngb-alert *ngIf="rejected" type="info" (close)="staticAlertClosed = true">
            Article rejected! Redirecting to homepage 3s...
        </ngb-alert>
        <div *ngIf="hero">
            <div class="row">

                <div class="col">
                    <div class="card">
                        <img class="card-img-top" [src]="form.get('imageUrl').value" alt="Card image cap">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name">
                        <div *ngIf="form.get('name').touched && form.get('name').invalid">
                            <div class="error-message">Name is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select formControlName="country" class="form-control">
                            <option
                             *ngFor="let country of countries"          
                             [value]="[country.code,country.name]" >{{country.name}}</option>
                        </select>
                        <div *ngIf="form.get('country').touched && form.get('country').invalid">
                            <div class="error-message">Country is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Date Of Birth</label>                        
                        <my-date-picker 
                        [selDate]="hero.birthDate" 
                        [options]="birthDateOptions" 
                        id="birthDate" name="birthDate" 
                        formControlName="birthDate"></my-date-picker>
                        <div *ngIf="form.get('birthDate').touched && form.get('birthDate').invalid">
                            <div class="error-message">Birth date is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deathDate">Died</label>
                        <my-date-picker 
                        [options]="deathDateOptions" 
                        [selDate]="hero.deathDate" 
                        id="deathDate" name="deathDate" 
                        formControlName="deathDate"></my-date-picker>
                        <div *ngIf="form.get('deathDate').touched && form.get('deathDate').invalid">
                            <div class="error-message">Death date is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="knownFor">Known For</label>
                        <input type="text" class="form-control" formControlName="knownFor" id="knownFor">
                        <div *ngIf="form.get('knownFor').touched && form.get('knownFor').invalid">
                            <div class="error-message">Known attributes are required.</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group details">
                <label for="achievementDetails">Achievement Details</label>
                <quill-editor 
                id="achievementDetails" 
                formControlName="achievementDetails"
                    [style]="{'height':'320px'}">
                </quill-editor>
            </div>
            <div *ngIf="form.get('achievementDetails').touched && form.get('achievementDetails').invalid">
                <div *ngIf="form.get('achievementDetails').hasError('required')">
                    <div class="error-message">Achievement details are required.</div>
                </div>
            </div>
            <div class="col-auto sourcesRef">
                    <em>Sources & References</em>
                    <i class="fa fa-exclamation-triangle"
                       aria-hidden="true" placement="right" 
                       ngbTooltip="Sources or References should be reliable and verifiable"></i>
            </div>
            <ul>
                <li *ngFor="let source of sources">
                    <pre>{{ source }} </pre>
                </li>
            </ul>
            <div class="form-inline">
                <input class="form-control col-9 sourceRef" 
                type="text" #source placeholder="example: books, articles, etc" 
                (keyup.enter)="addNewSource(source.value)">
                <button type="button" class="btn btn-primary includeButton" 
                (click)="addNewSource(source.value)">Include this source</button>
            </div>
            <em>**More sources or references can be added**</em>
            <div class="buttons">
                <button class="btn btn-danger" [hidden]='loading || status == "rejected"' type="button" (click)="open(modalBoxContent,form.value)">Reject</button>
                <button class="btn btn-success" [hidden]='loading || status == "approved"' type="submit">Accept</button>

                <button class="btn btn-success" [disabled]='true' [hidden]='!loading' type="submit">Loading...</button>
            </div>
        </div>
        <ngb-alert *ngIf="approved" type="success" (close)="staticAlertClosed = true">
            Article accepted. Redirecting to Submissions....
        </ngb-alert>
        <ngb-alert *ngIf="rejected" type="info" (close)="staticAlertClosed = true">
            Article rejected! Redirecting to Submissions...
        </ngb-alert>
    </div>

</form>